.projects {
    background-color: #59585d;
    padding-top: 5em;;
    color: white;
}

.projects-display-container {
    width: 100%;
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}

.project-container-header {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 2em; 
}