.main {
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url(../../images/apple-1838564_1920-main.jpg); /* Browser prefixes*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 14.7% 0; /* Center contents within the container, make background image cover*/
  color: white;
}
