.summary {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url(../../images/architecture-2178604_1920-main1.jpg);
    background-attachment: fixed;
    background-attachment: center center;
    color: white;
    padding: 5% 0;
}

.summary-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, 600px); */
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 5em;
    
}

.summary-card {
    display: grid;
    grid-template-columns: 20% 75%;
    
}

.summary-card-img {
    width: 80%;
}

.summary-description {
    padding-top: 1em;
}

