.btn {
    padding: 1em 2em;
    
}

.btn-border {
    background-color: transparent;
    width: 100%;
    margin-top: 40px;
    color: white;
    font-family: "Roboto",
    Helvetica,
    serif;
    font-size: 16pt;
    border-radius: 0;
    border: 2px solid white;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.btn-border:hover {
    border: 2px solid white;
    background-color: white;
}

.btn-black-border {
    background-color: transparent;
    width: 100%;
    margin-top: 40px;
    color: black;
    font-family: "Roboto",
    Helvetica,
    serif;
    font-size: 16pt;
    border-radius: 0;
    border: 2px solid black;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.btn-black-border:hover {
    border: 2px solid #464646;
    background-color: #464646;
    color: white;
}